{{! This is the post loop - each post will be output using this markup }}
<div class="row">
  <div class="col-md-12">
  {{#foreach posts}}
    <article class="panel panel-primary {{post_class}}">
      <div class="panel-heading">
        <h4 class="panel-title ub-post-title">
          <a href="{{url}}">
            {{#if featured}}
              <span class="fa fa-hand-o-right" data-toggle="tooltip" data-placement="bottom" title="Featured"></span>
            {{/if}}
            {{{title}}}
          </a>
        </h4>
      </div>

      <section class="panel-body post-excerpt">
        <p>{{excerpt words="350"}}</p>
      </section>

      <footer id="ub-post-meta">
        <div class="row">
          <div class="col-md-3 text-center">
            <span class="fa fa-calendar-o" data-toggle="tooltip" data-placement="left" title="Posted on"></span>
            <time class="post-date" datetime="{{date format='MM-DD-YYYY'}}">{{date format="MMMM DD, YYYY"}}</time>
          </div>
          <div class="col-md-6 ub-center-meta">
            {{#if tags}}
              <span class="fa fa-tags"></span>
            {{/if}}
            {{tags prefix=""}}
          </div>
          <div class="col-md-3 text-center">
            <a href="{{url}}" class="read-more">
              <span class="fa fa-terminal"> Read More</span>
            </a>
          </div>
        </div>
      </footer>
    </article>
  {{/foreach}}
  </div>
</div>

{{! Pagination }}
{{pagination}}